<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex flex-column mt-10 align-items-center">
                <p role="alert" class="text-center fs-2 ">¡Esta página está aún en construcción!</p>
                <img src="https://us.123rf.com/450wm/fir4ik/fir4ik1512/fir4ik151200163/49541437-robots-construir-un-edificio-futurista-en-el-planeta-libro-de-colorear-ilustraci%C3%B3n-vectorial.jpg" alt="Ilustración" style="max-width: 100%; height: auto;" />
            </div>
        </LayoutView>
    </NotFound>
</Router>
