@page "/"


@inject NavigationManager NavigationManager
@using MatBlazor;





 

<style>
    .demo-mat-card {
        max-width: 400px;
        height: 470px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: white;
        color: whitesmoke;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.06);
        
        
    }



    .carddos{
        max-width: 1200px;
        height: 470px;
        margin-top: 20px;
        border-radius: 0px;
        border-radius: 10px;
        width: 800px;
        color: whitesmoke;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
        
    }
    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>


<div style="display: flex;">
    <MudContainer  >
        <MudPaper Style="@($"border-bottom-color: {colorPersonal.GetColor()};  margin-right: -10px; background:{Colors.Grey.Lighten5};" )" Class="demo-mat-card " Outlined="true">
            <MudTooltip Style="margin-left:168px;" Text="Actualizar Colores" Delay="600" Arrow="true" Placement="Placement.Bottom">
                <MudIconButton OnClick="()=>{Color = colorPersonal.GetColor(); theme1.Primary = colorPersonal.GetColor(); theme1.Secondary = colorPersonal.GetColor();}" Size="MudBlazor.Size.Medium" Icon="@Icons.Material.Filled.Update" Style="@($"color: {colorPersonal.GetColor()};margin: 6px; margin-left:340px; margin-top: 6px;")"></MudIconButton>
            </MudTooltip>
           
            <MudContainer Class="container">
                <div class="avatar-container">
                    <MudAvatar Size="MudBlazor.Size.Large" Style="@($"background-color: {colorPersonal.GetColor()}; height:120px; width:120px; font-size:2rem;")" >U</MudAvatar>
                </div>
                
                <div class="label-container">
                    <label>Nombre Usuario</label>
                </div>

                <div class="label-container-sub">
                    <label>se unió 2 de mayo del 2013</label>
                </div>
           </MudContainer>

            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            <div class="label-container">
                <MudChip Icon="@Icons.Material.Filled.DoneAll" Label="true"  Style="@($"background-color: {colorPersonal.GetColor()}; color: white; font-size: 15px; height: 50px; border-radius: 10px;")">20 Tareas Hechas</MudChip>
            </div>

            <div class="button-container">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.QueryStats" Style="@($"background-color: {colorPersonal.GetColor()};color: white;border-radius: 10px;")">Ver stats</MudButton>
            </div>

        </MudPaper>
    </MudContainer>

    <MudContainer>
        <MudPaper style="@($" border-bottom-color: {colorPersonal.GetColor()}; background:{Colors.Grey.Lighten5};" )" Class="carddos" Outlined="true">
            <!-- Contenido del segundo MudPaper -->
        </MudPaper>
    </MudContainer>
</div>






 
@code {
    public string ColorPaper = "#F6F4EB";
    public static string Color { get; set; } = null!;
    MatTheme theme1 = new MatTheme()
    {
        Primary = Color,
        Secondary = "#303f9f",
          
    };
    protected override void OnInitialized()
    {
        Color = colorPersonal.GetColor();
    }
   

}
